<p id="notice"><%= notice %></p>

<p>
  <strong>Food name:</strong>
  <%= @food.food_name %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @ingredient %>
</p>

<p>
  <strong>Beer Pairing:</strong>
  <%= @beer %>
</p>


<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
